/* Content Section Container */
.section {
  max-width: 1000px;
  margin: 1rem auto 0;
  padding: 0 1rem;
  overflow: visible;
}

@media (min-width: 768px) {
  .section {
    margin-top: 1.5rem;
  }
}

