@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

nav{
  background-color: #ededed;
  margin: auto;
  padding: auto;
  border: #ededed;
  text-align: center;
}
nav a{
  color: #171717;
  text-decoration: none;
  margin: 15px;
  padding: 15px;
}

footer{
  color: #ededed;
  text-align: center;
}

footer.hr{
  margin-top: 20px;
  margin-bottom: 20px;
}